{% extends 'index.html' %}

{% block content %}
<section class="grey section">
    <div class="container">
    <div class="row">
    <div id="content" class="col-md-12 col-sm-12 col-xs-12">
    <div class="blog-wrapper">
    <div class="row second-bread">
    <div class="col-md-6 text-left">
    <h1>Wish List </h1>
    </div>
    <div class="col-md-6 text-right">
    <div class="bread">
    <ol class="breadcrumb">
    
    </ol>
    </div>
    </div>
    </div>
    </div>
    <div class="blog-wrapper">
    <div class="blog-desc">
    <div class="shop-cart">
    <table class="table table-bordered">
    <thead>
    <tr>
    <th>
    Course Id
    </th>
    <th>
    Course Name
    </th>
    
    <th>
    Action
    </th>
    
    
    </tr>
    </thead>
    <tbody>
        {% for d in wishdata %}
    <tr>
    <td>
    {{d.course_id.id}}
    </td>
    <td>
   {{d.course_id.Course_name}}
    </td>
    
    
    <td>
        <a href="{% url 'wishlist_delete' dataid=d.id %}" class=" btn btn-danger">Delete</a>
        <a href="{% url 'course_registeration' cid=d.course_id.id %}" class=" btn btn-default">Register</a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    
    </table>
    <div class="coupon-code-wrapper">
    
    
    <hr class="invis">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
   {% endblock %}